#editorWrapper {
  display: flex;
}

#palette {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

#palette button {
  padding: 10px;
  cursor: pointer;
}

#palette button.selected {
  outline: 3px solid cyan;
  background-color: #222;
  color: white;
}

canvas {
  border: 1px solid white;
  background: #111;
}

#controls button {
  padding: 10px;
  cursor: pointer;
}